
body
{
    width: 1000px;
    margin-left: auto; margin-right: auto;
}
/* header */
#header { height: 60px; }
div span
{
    font-size: 20pt;
    cursor: pointer;
    margin: 10px;
    vertical-align: center;
}
.rightSpan { float: right; }
.leftSpan { float: left; }
/* nav */
#nav { height: 100px; }
#navProImg 
{
    width: 60px; height: 60px;
    border-radius: 100px;
    border: 1px rgb(194, 194, 194) solid;
}
#nav div
{
    float: left;
    position: relative;
}
#nav div p 
{
    font-weight: bold;
    margin: 0px;
    text-align: center;
}
#profileDiv 
{
    width: 60px; height: 60px;
    border-radius: 100px;
    border: 1px rgb(194, 194, 194) solid;
    background-color: rgb(205, 206, 216);
    color: rgb(81, 83, 104);
    text-align: center;
    font-size: 20pt;
    margin-left: 10px;
    line-height: 55px;
}

/* leftBody */
#leftBody 
{
    width: 49%;
    background-color: pink;
    float: left;
}
#leftProImg
{
    width: 75px; height: 75px;
    border-radius: 100px;
    border: 1px rgb(194, 194, 194) solid;
    float: left;
}
#leftPro { height: 75px; }
#leftPro p { float: right; font-size: 20pt; margin: 0px; line-height: 77px; margin-right: 10px;}
#leftPro b { float: left; line-height: 77px; margin-left: 10px; font-size: 13pt;}
#leftDate
{
    margin-top: 10px;
    height: 25px;
}
#leftDate b 
{
    font-size: 12pt;
    float: left;
    margin-right: 5px;
}
#leftDate span 
{
    font-size: 12pt;
    margin: 0px;
}
.changeMon { float:right;}
.changeMon button { margin-right: 10px;}


#leftCalender
{
    height: 350px;
    margin-top: 10px;
}
#leftCalender table
{
    width: 100%; height: 350px;
    text-align: center;
}
.today { background-color: skyblue;}
#leftCalender td
{
    background-color: white;
    border-radius: 50px;
}
/* rightBody */
#rightBody
{
    width: 48%; height: auto;
    background-color: skyblue;
    float: right;
    padding: 5px;
}
#rightBody span
{
    margin: 0px;
    font-size: 12pt;
}
.sChildDiv
{
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}


#rightBody div > div > span:nth-child(1)
{
    margin-left: 10px;
}
#rightBody div > div > span
{
    margin: 0px;
    line-height: 30px;
}
#rightBody div > div > button
{
    width: 20px; padding: 0px;
    text-align: center;
    margin-left: 10px;
}
#rigthLast
{
    height: 30px;
}
#rigthLast span
{
    padding: 0 8px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
}
#rigthLast span:nth-child(1)
{
    float: left;
    background-color: rgb(198, 239, 255);
}
#rigthLast span:nth-child(2)
{
    float: right;
    background-color: white;
}

/* 할 일 목록 */
.btnDiv{
    height: 60px;
    vertical-align: center;
}
.eleChk{
    scale: 1.5;
    margin-top: 15px;
    margin-left: 15px;
}
.eleInp{
    margin: 10px;
    width: 360px;
    height: 30px;
}
.eleDiv{
    float: right;
    width: 30px; height: 30px;
    margin: 15px;
    text-align: center;
    color: rgb(47, 84, 99);
    background-color: white;
    border-radius: 15px;
}

/* 버튼 클릭시 보이는 리스트 수정 div */
#editList{
    opacity: 0;
    visibility: hidden;
    z-index: 15;

    background-color: blanchedalmond;
    width: 600px; height: 700px;
    border-radius: 50px;
    position: absolute;
    left: 50%; right: 50%; 
    top: 100%; /* 시작 위치: 아래 */
    transform: translate(-50%, 0);
    transition: all 0.5s ease;
}
#editList.show{
    opacity: 1;
    visibility: visible;
    top: 50%; /* 올라올 위치 */
    transform: translate(-50%, 0);
}

#editList h1 {
    text-align: center;
    margin: 40px;
}
.editImg{
    font-size: 30pt;
}
.editText{
    font-size: 15pt;
}
#editDiv{
    float: left;
    margin-left: 110px;
    text-align: center;
    background-color: white;
    width: 150px; border-radius: 20px;
    cursor: pointer;
}
#delDiv{
    float: right;
    margin-right: 110px;
    text-align: center;
    background-color: white;
    width: 150px; border-radius: 20px;
    cursor: pointer;
}

/* 오버레이 */
#overlay{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}
#overlay.overlay{
    opacity: 1;
    visibility: visible;
}

/* 버튼 클릭시 보이는 카테고리 수정 div */
#editCategory{
    opacity: 0;
    visibility: hidden;
    z-index: 15;

    background-color: blanchedalmond;
    width: 180px; height: 190px;
    border-radius: 15px;
    position: absolute;
    top: 55px; right: 0px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

#editCategory h3{
    text-align: center; 
    padding-top: 5px; padding-bottom: 5px;
    margin-top: 10px; margin-bottom: 10px;
}
#editCategory h3:hover{
    background-color: white;
    cursor: pointer;
}
